*{
    margin: 0;
    padding: 0;
}


/* header */
#header{
    background-color: black;
}

/* header1 */
#header .header1{
    height: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5vw;
    padding: 0px 6.3vw;
}
#header .header1 i{
    scale:1.2;
    width: 0.5vw;
    height: 0.5vw;
}
#header input{
    border: 0px solid transparent;
    width: 11vw;
    height: 2.3vw;
    padding: 0vw 0.5vw;
    font-size: 1vw;
    border-top-left-radius: 0.2vw;
    border-bottom-left-radius: 0.2vw;
}
#header .button1{
    border: 0px solid transparent;
    height: 2.3vw;
    width: 2vw;
    position: absolute;
    background-color: white;
    border-top-right-radius: 0.2vw;
    border-bottom-right-radius: 0.2vw;
}
/* header2 */
#header .header2{
    height: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4vw;
}
#header .nav{
    display: flex;
    gap: 1.1vw;
    height: 2.3vw;
    width: 37vw;
}
#header .header2 button{
    background-color: black;
    color: white;
    border: 0px;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2vw;
    transition: all 0.2s ease-out;
    height: 2.3vw;
    padding: 0;
}
#header .header2 button:hover{
    color: #2ca0c4;
}
#header .header2 i{
    scale: 0.5;
}
#header .header2 img{
    width: 12vw;
    padding-bottom: 1vw;
}
#header .content{
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 1;
}
#header .c1{
    width: 22vw;
}
#header .c1 h6{
    font-size: 1vw;
    padding: 0.5vw;
}
#header p:hover{
    background-color: rgb(187, 187, 187);
}
#header p{
    margin: 0;
    padding: 0.5vw 0.5vw;
    transition: all 0.2s ease-in;
    font-size: 0.8vw;
}
#header .dropdown:hover .content{
    display: block;
}
#header .c2{
    width: 14vw;
}
#header .c2 p{
    border-bottom: 1px rgb(221, 221, 221) solid;
}



/* banner */

#banner .container-fluid{
    width: 100%;
    background-image: url(./image/banner.jpg);
    background-size: cover;
    color: white;
    aspect-ratio: 4/1;
    background-position: center center;
}
#banner h1{
font-size: 2.2vw;
margin: 0;
}
#banner h2{
    font-size: 1.5vw;
}
#banner .div{
    padding-left: 20vw;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-family: "Fjalla One", sans-serif;
}
#banner input{
    width: 29vw;
    height: 3.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
    padding-left: 1vw;
}
#banner input::placeholder{
    text-align: center;
}
#banner p{
    font-size: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#banner .sp{
    font-weight: 100;
    transition: all 0.2s ease-out;
}
#banner .sp:hover{
    color: #2ca0c4;
    cursor: pointer;
    text-shadow: white;
}


/* Contact */

#contact{
    background-color: #0e5fa3;
    color: white;
}
#contact .container{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1vw 0vw;
    gap: 1vw;
}
#contact button{
    background-color: #acc960;
    height: 3.2vw;
    border: none;
    width: 7vw;
    font-family: "Fjalla One", sans-serif;
    color: white;
    font-size: 1vw;
    border-radius: 0.5vw;
}
#contact p{
    font-size: 1.4vw;
    font-family: "Fjalla One", sans-serif;
    line-height: 1.5vw;
    margin-bottom: 0px;
}
#contact input{
    width: 15vw;
    height: 3vw;
    padding-left: 1vw;
    font-size: 1vw;
}
input:focus{
    outline: none;
}


/* section1 */

#section1 h1{
    font-family: "Fjalla One", sans-serif;
    font-size: 2vw;
    margin-top: 4vw;
    margin-bottom: 3vw;
}
#section1 .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8vw;
    padding-bottom: 5vw;
}
#section1 .div{
    width: 30%;
    aspect-ratio: 780/390;
}
#section1 p{
    font-family: "Fjalla One", sans-serif;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding-top: 20%;
    color: white;
    font-size: 1.5vw;
    backdrop-filter: brightness(0.8);
    transition: all 0.3s ease-out;
}
#section1 .div1{
    background-image: url(./image/grid1.jpg);
    background-size: contain;
}
#section1 p:hover{
    backdrop-filter: brightness(0.5);
}
#section1 .div2{
    background-image: url(./image/grid2.jpg);
    background-size: contain;
}
#section1 .div3{
    background-image: url(./image/grid3.jpg);
    background-size: contain;
}
#section1 .div4{
    background-image: url(./image/grid4.jpg);
    background-size: contain;
}
#section1 .div5{
    background-image: url(./image/grid5.jpg);
    background-size: contain;
}
#section1 .div6{
    background-image: url(./image/grid6.jpg);
    background-size: contain;
}
#section1 .div7{
    background-image: url(./image/grid7.jpg);
    background-size: contain;
}
#section1 .div8{
    background-image: url(./image/grid8.jpg);
    background-size: contain;
}
#section1 .div9{
    background-image: url(./image/grid9.jpg);
    background-size: contain;
}


/* section2 */
#section2{
    background-color: #eef0f2;
}
#section2 .container{
    display: flex;
    padding: 3vw;
}
#section2 .div1{
    width: 60%;
}
#section2 .div2{
    width: 40%;
}
#section2 h1{
    font-family: "Fjalla One", sans-serif;
    font-size: 1.8vw;
}
#section2 img{
    width: 90%;
}
#section2 p{
    font-size: 1vw;
    padding-right: 3vw;
}
#section2 .sp{
    color: #2ca0c4;
    font-weight: bold;
    transition: all .2s ease-out;
}
#section2 .sp:hover{
    color: black;
    cursor: pointer;
}
#section2 li{
    font-size: 1vw;
    color: #2ca0c4;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
#section2 li:hover{
    color: black;
}
#section2 h2{
    font-family: "Fjalla One", sans-serif;
    font-size: 1.2vw;
    padding: 1vw;
}